.box 
{
  float: left;
  margin-right: 15px;
  border-radius: 5px;
}

.carousel-inner img {
  margin: auto;
}

.box2
{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  margin-top: 15px;
  border-radius: 10px;
}

.carousel {
   width:30em;
   height:18em;
 }

.col 
{
  padding-top:15px;
  padding-bottom:15px;
}

.soft-borders 
{
  border-radius: 1rem;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

.padded
{
  padding-top:15px;
  padding-bottom:15px;
  padding-left:25px;
  padding-right:25px;
}

.padded2
{
  padding-top:15px;
  padding-bottom:15px;
  padding-left:15px;
  padding-right:15px;
}

.container2 
{
    padding-right: 15px;
    padding-left: 15px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.my-display-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}


a {
  color: darkslategrey;
}

a:hover {
  background-color: lightgray;
  color: darkslategrey;
}


.title {
  color: darkslategrey;
}

.col-text{
  color: dimgray;
  font-style: italic;
}