.box 
{
  float: left;
  margin-right: 15px;
  border-radius: 5px;
}

.col 
{
  padding-top:15px;
  padding-bottom:15px;
}

.padded
{
  padding-top:15px;
  padding-bottom:15px;
  padding-left:25px;
  padding-right:25px;
}

.padded2
{
  padding-top:15px;
  padding-bottom:15px;
  padding-left:15px;
  padding-right:15px;
}

.container2 
{
    padding-right: 15px;
    padding-left: 15px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.my-display-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.navbar-nav .nav-item .nav-link {
    color: white;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #98ff98;
}
