.box 
{
  float: left;
  margin-right: 15px;
  border-radius: 5px;
}

.col 
{
  padding-top:15px;
  padding-bottom:15px;
}

.soft-borders 
{
  border-radius: 1rem;
}
.padded
{
  padding-top:15px;
  padding-bottom:15px;
  padding-left:25px;
  padding-right:25px;
}

.padded2
{
  padding-top:15px;
  padding-bottom:15px;
  padding-left:15px;
  padding-right:15px;
}

.container2 
{
    padding-right: 15px;
    padding-left: 15px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.my-display-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}